@{
    ViewBag.Title = "Potwiedzenie adresu email zostało wysłane";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        Email z potwierdzeniem został wysłany na adres @ViewBag.Email, sprawdz skrzynkę pocztową.
    </div>
</div> 