@{
    ViewBag.Title = "Potwierdzenie adresu email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu email. 
        Naciśnij @Html.ActionLink("tutaj ", "Login", "Account",null,new { id = "loginLink" }) aby przejść do logowania
    </p>
</div>
