@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    <br />
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken();
            @Html.ActionLink("Witaj " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            <font color="blue">/</font>
            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        }
    }
    else
    {
        @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        <font color="blue">/</font>
        @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    }
</ul>
